<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>로그인</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">
	<h2>팀원들</h2>
	<div th:each="member : ${members}" th:align="center" >
		<div th:text="${member.id}"></div>
	</div>
	
	<h2>스터디 채팅으로 가기</h2>
	<a th:href="@{/team/chatting(seq=${team.seq})}" th:text="${team.teamName} + '팀 채팅으로 가기'"></a>

	<h2>팀 게시판으로 가기</h2>
	<a th:href="@{/board/boardLists(seq=${team.seq})}">팀 게시판으로 가기</a>
	
	<h2>팀 게시판</h2>
	<a th:href="@{/board/insertBoard(seq=${team.seq})}">게시글 등록하기</a>
	<a th:href="@{/userpage}"><h2>유저 페이지로 돌아가기</h2></a>

	<br><br><br><br><br>
	<div th:align="center">
		<form action="/logout" method="get">
			<input type="submit" value="로그아웃!!!!!"/>
		</form>
	</div>
</body>
</html>
