<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>메인페이지</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/userpage.css}">
<script type="text/javascript" th:src="@{/js/userpage.js}" defer></script>

</head>
<body>
	<div th:align="center">
		<h1>안녕하세요~~!</h1>
		<h3>
			<span sec:authentication="principal.member.nickName" />님<br>
		</h3>
	</div>
	<div th:align="center"><input type="button" value="쪽지확인" id="goMailBtn"/></div>
	<div th:align="center"><input type="button" value="매칭하기" id="goMatchingBtn"/></div>
	<span sec:authorize="hasAnyRole('ROLE_HAVEGROUP','ROLE_ADMIN','ROLE_MEMBER')">
		<div th:if = "${teams != null}" th:align="center">
			<input type="button" value="내 스터디로 가기" id="goTeam"/>
		</div>
	</span>
	
</body>
</html>

