<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
	<title>게시글 상세</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">
<h1>게시글 상세</h1>
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0">				
	<tr>
		<td bgcolor="orange" th:text="제목" width="80"></td>
		<td><input name="seq" type="hidden" th:value="${board.seq}">
		     <input name="title" type="text" th:value="${board.title}" readonly></td>
	</tr>
	<tr>
		<td bgcolor="orange" th:text="작성자"></td>
		<td th:text="${board.member.id}"></td>
	</tr>
	<tr>
		<td bgcolor="orange" th:text="내용">
		<td><textarea readonly name="content" th:text="${board.content}" cols="40" rows="10"></textarea></td>
	</tr>
</table>
</form>	
<a th:href="@{/board/format(seq=${team.seq})}">글등록</a>
<br>
<a th:href="@{/boards(seq=${team.seq})}">글목록으로 이동하기</a>
<br>
<a th:href="@{/team}">팀메인페이지로 이동하기</a>
<br><br><br><br><br>
	<div th:align="center">
		<form action="/logout" method="get">
			<input type="submit" value="로그아웃!!!!!"/>
		</form>
	</div>
</body>
</html>
